button {
    width: 160px;
    height: 50px;
}
button.cancelbutton {
    border-radius: 25px;
    width: 60%;
}
button.savebutton {
    border-radius: 25px;
    width: 60%;
}
button.savebutton {
    background-color: burlywood;
    color: white;
}

.row.ClientAccount {
    width: 533px;
}
button:hover {
    background-color: #E9D1BD;
}
.create.pt-3 {
    border-bottom: 2px solid lightgray;
   padding-left: 3rem;
}
.ClientAccount{
width: 40rem;
height: 470px;
left: 522px;
top: 285px;

background: #FFFFFF;
box-shadow: 0px 36px 36px rgba(0, 0, 0, 0.36);
border-radius: 24px;
}

input.name. {
    background-color: black !important;
    color: white!important;
    
}


.col-5.cancel {
    display: flex;
    justify-content: center;
}
.row.userPass {
    padding: 0px 0px 0px 60px;
}
input{
    border-radius:25px;
}
input.name {
    width: 100%;
    border-radius: 15px;
    border: none;
    
}
.col-md-5.cancel {
    display: flex;
    justify-content: flex-end;
}
.col-md-5.save {
    margin-left: 30px;
}
input.user {
    border: none;
    border-radius: 15px;
    background-color: black!important;
    color: white;
    width: 80%;
    
}
input.password {
    border: none;
    border-radius: 15px;
    background-color: black!important;
    color: white;
    width: 80%;
    
}

.ClientAccount{
    width: 40rem !important;
}
input.name.mt-2 {
    background-color: black!important;
    color: white;
}
.container.ClientAccount {
    position: absolute;
    font-family: Open Sans;
    z-index: auto;
}
input.name.mt-2.text-light {
    
}
